<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/favicon.ico" type="image/png">
    <title>Mobitrix</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <main>
      <section>
        <div class="py-5 text-white" style="background: url(<%= process.env.IMAGE_PATH %>/banner-bg-3.svg) center no-repeat;">
          <div class="container-md py-lg-5">
            <h1 class="py-4">Mobitrix –<br/> Powerful and Cost-effective Mobile Problem Solver</h1>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 bg-gray text-center">
          <div class="container py-lg-4">
            <h2 class="mb-3">Our Mission</h2>
            <h4 class="mb-5">We provide cost-effective, high-quality products to enhance the smartphone user experience.</h4>
            <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/about-icon-1.svg" alt="">
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 text-center">
          <div class="container py-lg-4">
            <h2 class="mb-4">Our AWARDS</h2>
            <p class="mb-5">Through the creation of exclusive trustworthy technology, Mobitrix has become recommended by prestigious media sites and trusted by thousands of users worldwide.</p>
            <div class="d-flex justify-content-between flex-column flex-lg-row">
              <div class="py-3">
                <img style="height: 43px;" src="<%= process.env.IMAGE_PATH %>/about-logo-1.png" alt="">
              </div>
              <div class="py-3">
                <img style="height: 43px;" src="<%= process.env.IMAGE_PATH %>/about-logo-2.png" alt="">
              </div>
              <div class="py-3">
                <img style="height: 43px;" src="<%= process.env.IMAGE_PATH %>/about-logo-3.png" alt="">
              </div>
              <div class="py-3">
                <img style="height: 43px;" src="<%= process.env.IMAGE_PATH %>/about-logo-4.png" alt="">
              </div>
              <div class="py-3">
                <img style="height: 43px;" src="<%= process.env.IMAGE_PATH %>/about-logo-5.png" alt="">
              </div>
              <div class="py-3">
                <img style="height: 43px;" src="<%= process.env.IMAGE_PATH %>/about-logo-6.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 bg-gray text-center">
          <div class="container">
            <h1 class="mb-4">Contact Us</h1>
            <p class="mb-5">You are welcome to contact us and send your voices.</p>
            <a href="/contact-us/"><img src="<%= process.env.IMAGE_PATH %>/contact-us.svg" alt=""></a>
            <p>support@mobitrix.com</p>
          </div>
        </div>
      </section>
    </main>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
