<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/favicon.ico" type="image/png">
    <title>Mobitrix</title>
  </head>
  <body>
    <%= require('html-loader!../common/header-ad.ejs') %>
    <main>
      <aside data-page="ad"></aside>
      <section>
        <div class="py-5" style="background:url(<%= process.env.IMAGE_PATH %>/ad-banner2.png) center no-repeat">
          <div class="container py-lg-5">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="mb-4">WhatsApp transfer software with over 1 million downloads</h1>
                <ul class="h6 font-weight-normal text-muted mb-5">
                  <li class="mb-3">1-Click to transfer your WhatsApp messages between iPhone and Android.</li>
                  <li class="mb-3">Backup all WhatsApp data from iPhone/Android to computer.</li>
                  <li>Fully compatible with almost all iPhones and Android devices, including iPhone 11 Pro Max and Samsung S10/S20.</li>
                </ul>
                <div>
                  <a href="http://download.mobitrix.com/products/mobitrix-whatsapp-transfer.exe" class="btn btn-lg btn-primary"><svg class="align-top mr-2" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>FREE DOWNLOAD<img style="height:1.6rem;" class="ml-2" src="<%= process.env.IMAGE_PATH %>/download.svg"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5">
          <div class="container">
            <div id="ad-reviews">
              <div class="p-4 mb-5 slick">
                <div>
                  <div class="d-flex align-items-center">
                    <div class="pr-3">
                      <img class="mx-auto mb-2" style="height: 67px;" src="<%= process.env.IMAGE_PATH %>/user-7.png" alt="">
                      <ul class="star-group">
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                      </ul>
                    </div>
                    <div class="pl-lg-5 text-muted h6 font-weight-normal">
                      <p>My WhatsApp chat history are transferred from my old Samsung S8 to new iPhone, very fast speed. </p>
                      <p class="mb-0">——By William Colon</p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="d-flex align-items-center">
                    <div class="pr-3">
                      <img class="mx-auto mb-2" style="height: 67px;" src="<%= process.env.IMAGE_PATH %>/user-8.png" alt="">
                      <ul class="star-group">
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                      </ul>
                    </div>
                    <div class="pl-lg-5 text-muted h6 font-weight-normal">
                      <p>I‘d like to thank Mobitrix for keeping my precious chat history in WhatsApp! </p>
                      <p class="mb-0">——By Edward Dozier</p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="d-flex align-items-center">
                    <div class="pr-3">
                      <img class="mx-auto mb-2" style="height: 67px;" src="<%= process.env.IMAGE_PATH %>/user-3.png" alt="">
                      <ul class="star-group">
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                        <li class="star-full">star</li>
                      </ul>
                    </div>
                    <div class="pl-lg-5 text-muted h6 font-weight-normal">
                      <p>It's very simple to use. I can transfer all my chats to the new phone in a few clicks.</p>
                      <p class="mb-0">——By John Green</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 text-center">
          <div class="container">
            <h2 class="mb-4">Why Choose Mobitrix</h2>
            <p class="mb-5 text-muted">Using the most technologically advanced software, Mobitrix WhatsApp Transfer is able to quickly migrate WhatsApp chat history, pictures, videos and lots more between devices with the highest success rate guaranteed.</p>
            <div class="row">
              <div class="col-lg-3 col-md-6 py-3">
                <div class="p-4">
                  <div style="height: 100px;">
                    <img src="<%= process.env.IMAGE_PATH %>/ad-icon-industry.svg" alt="">
                  </div>
                  <h5 class="mb-4">Industry-Leading Speed</h5>
                  <p class="small text-muted">Our exclusive technology is designed to significantly accelerate transfer speed.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <div class="p-4">
                  <div style="height: 100px;">
                    <img src="<%= process.env.IMAGE_PATH %>/ad-icon-success.svg" alt="">
                  </div>
                  <h5 class="mb-4">Success Rate</h5>
                  <p class="small text-muted">While no software can guarantee a 100% success rate, Mobitrix guarantees the highest possible success rate of 99%.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <div class="p-4">
                  <div style="height: 100px;">
                    <img src="<%= process.env.IMAGE_PATH %>/ad-icon-steps.svg" alt="">
                  </div>
                  <h5 class="mb-4">Steps to Transfer</h5>
                  <p class="small text-muted">Our software only requires you to perform 3 simple steps to transfer WhatsApp backups from one to another.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <div class="p-4">
                  <div style="height: 100px;">
                    <img src="<%= process.env.IMAGE_PATH %>/ad-icon-customer.svg" alt="">
                  </div>
                  <h5 class="mb-4">Customer Service</h5>
                  <p class="small text-muted">If you have any issues, the friendly Mobitrix support team is always on hand to provide assistance around the clock.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-4">
          <div class="container">
            <div id="slick-product-guide">
              <div class="row align-items-center">
                <div class="col-lg-5 py-3">
                  <h3 class="mb-4">How to Use</h3>
                  <ul class="list-unstyled list">
                    <li class="mb-4 active">
                      <div class="d-flex align-items-center">
                        <div class="box p-3 text-muted">
                          <p class="font-weight-bold mb-1">Step 1. Connect the 2 Devices</p>
                          <p class="small mb-0">Open the program and connect your devices to the computer using the original USB cables</p>
                        </div>
                      </div>
                    </li>
                    <li class="mb-4">
                      <div class="d-flex align-items-center">
                        <div class="box p-3 text-muted">
                          <p class="font-weight-bold mb-1">Step 2. Start to Transfer</p>
                          <p class="small mb-0">Begin the transfer process once the 2 devices have been connected by clicking ‘transfer’.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div class="box p-3 text-muted">
                          <p class="font-weight-bold mb-1">Step 3. Finish to Transfer WhatsApp</p>
                          <p class="small mb-0">All of your WhatsApp messages and attachments will soon be successfully transferred.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="pt-4">
                    <a href="http://download.mobitrix.com/products/mobitrix-whatsapp-transfer.exe" class="btn btn-lg btn-primary"><svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>FREE DOWNLOAD<img style="height:1.6rem;" class="ml-2" src="<%= process.env.IMAGE_PATH %>/download.svg"></a>
                  </div>
                </div>
                <div class="col-lg-7 py-3">
                  <div class="slick">
                    <div>
                      <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/ad-screen1.png" alt="">
                    </div>
                    <div>
                      <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/ad-screen2.png" alt="">
                    </div>
                    <div>
                      <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/ad-screen3.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 bg-gray text-center">
          <div class="container">
            <h2 class="mb-4">Tech Specs</h2>
            <div class="row">
              <div class="col-lg-3 py-3">
                <div class="bg-white rounded px-3 py-4 h-100">
                  <h5 style="min-height: 48px;" class="mb-0">Supported iOS Devices</h5>
                  <hr class="my-4">
                  <p class="small text-muted">iPhone: iPhone 11, iPhone 11 Pro, iPhone 11 Pro Max, iPhone XS, iPhone XS Max, iPhone XR, iPhone X, iPhone 8 Plus, iPhone 8, iPhone 7 Red, iPhone 7 Plus, iPhone 7, iPhone SE, iPhone 6s Plus, iPhone 6s, iPhone 6 Plus, iPhone 6, and all models of iPhone. iPad: All models of iPad Air, iPad mini, iPad Pro and iPad.</p>
                </div>
              </div>
              <div class="col-lg-3 py-3">
                <div class="bg-white rounded px-3 py-4 h-100">
                  <h5 style="min-height: 48px;" class="mb-0">Supported Android Devices</h5>
                  <hr class="my-4">
                  <p class="small text-muted">Samsung Galaxy S10, Huawei P30 OPPO, LG and other 5000+ Android devices.</p>
                </div>
              </div>
              <div class="col-lg-3 py-3">
                <div class="bg-white rounded px-3 py-4 h-100">
                  <h5 style="min-height: 48px;" class="mb-0">Supported OS</h5>
                  <hr class="my-4">
                  <p class="small text-muted">iOS: iPadOS, iOS 13/12.3/12, iOS 11, iOS 10.3, iOS 10, iOS 9 and former. Android: Android 2.0 to 9. Windows: Win 10/8.1/8/7/Vista/XP.</p>
                </div>
              </div>
              <div class="col-lg-3 py-3">
                <div class="bg-white rounded px-3 py-4 h-100">
                  <h5 style="min-height: 48px;" class="mb-0">Other</h5>
                  <hr class="my-4">
                  <p class="small text-muted">CPU: 1GHz (32 bit or 64 bit). RAM: 256 MB or more of RAM (1024MB Recommended). Hard Disk Space: 200 MB and above free space.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 text-center" style="background: url(<%= process.env.IMAGE_PATH %>/ad-bg-blue.svg) center no-repeat">
          <div class="container py-lg-4">
            <h2 class="mb-5">Get Mobitrix WhatsApp Transfer Now</h2>
            <div>
              <a href="http://download.mobitrix.com/products/mobitrix-whatsapp-transfer.exe" class="btn btn-lg btn-primary mx-lg-3 my-2"><svg class="align-top mr-2" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>FREE DOWNLOAD<img style="height:1.6rem;" class="ml-2" src="<%= process.env.IMAGE_PATH %>/download.svg"></a>
              <a href="https://www.mobitrix.com/whatsapp-transfer-backup-restore/purchase/" class="btn btn-lg btn-light mx-lg-3 my-2 text-primary"><span class="px-5"><svg class="align-top mr-2" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>Buy Now</span></a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-7 py-3">
                <h2 class="mb-4">FAQ</h2>
                <ul class="list-faqs">
                  <li>
                    <h5 class="text-primary">1. Is free trial version available before registration?</h5>
                    <p class="text-muted">Yes. We offer the free trial version for all the products for users to evaluate whether it is useful for them before purchase.</p>
                  </li>
                  <li>
                    <h5 class="text-primary">2. How long will it take to transfer WhatsApp messages?</h5>
                    <p class="text-muted">The transferring time depends on the data size of the WhatsApp data to be transferred. Generally, it can be several minutes or an hour.</p>
                  </li>
                  <li>
                    <h5 class="text-primary">3. What’s the Differences between the trial and full version?</h5>
                    <p class="text-muted">You can use the free trial version to back up WhatsApp messages. To transfer or restore WhatsApp, you will need to upgrade from trial version to full version.</p>
                  </li>
                  <li>
                    <h5 class="text-primary">4.Will my device data be affected after using your software?</h5>
                    <p class="text-muted">No. All the data on your iPhone or Android phone will not be affected.</p>
                  </li>
                  <li>
                    <h5 class="text-primary">5. Is it safe to purchase product on your website?</h5>
                    <p class="text-muted">Yes. It is 100% secure to purchase from our website. We guarantee that your privacy will not be disclosed when you browse our website or download and use our product.</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-5 py-3">
                <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/ad-faqs.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
