<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mobitrix</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <main>
      <section>
        <div class="text-white py-3" style="background: url(<%= process.env.IMAGE_PATH %>images/home/tu1.png) center no-repeat;">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h1 class="mb-3">Data Management Export</h1>
                <p class="mb-5">Copyright (c) 2018 Copyright Holder All Rights Reserved. Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                <div>
                  <a href="#" class="btn btn-lg btn-danger text-uppercase mr-lg-3 mb-3 mb-lg-0">
                    <svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>
                    free download
                  </a>
                  <a href="#" class="btn btn-lg btn-success text-uppercase px-5">buy now</a>
                </div>
              </div>
              <div class="col-lg-6">
                <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/home/tu2.png" alt="">
              </div>
            </div>
          </div>
          <div class="py-lg-5"></div>
        </div>
      </section>
      <section id="software">
        <div class="container">
          <div class="box py-5 rounded bg-white">
            <h2 class="mb-4 text-center">Amazing Software for you</h2>
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="d-flex justify-content-center align-items-center position-relative mx-auto" style="background: url(<%= process.env.IMAGE_PATH %>images/home/tu3.png) center no-repeat;height: 320px;max-width: 430px;background-size: contain;">
                  <p class="h2 text-white mb-0">Mobitrix</p>
                  <div class="position-absolute" style="right:0;bottom:0;">
                    <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/home/tu3-1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <h3 class="mb-3">Mobitrix WhatsApp Transfer</h3>
                <p class="mb-5">Copyright (c) 2018 Copyright Holder All Rights Reserved. Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                <a href="#" class="btn btn-lg btn-primary px-4">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= require('html-loader!../common/why-choice.ejs') %>
      <section>
        <div class="py-5 text-center bg-gray">
          <div class="container py-lg-4">
            <h2 class="mb-3">Where Have We Been Mentioned</h2>
            <p class="mb-5">Mobitrix is trusted by the world's leading media sites.</p>
            <div class="row">
              <div class="col-lg-4">
                <div class="p-5 text-left d-flex flex-column justify-content-between" style="background: url(<%= process.env.IMAGE_PATH %>images/home/tu7.png) top no-repeat;">
                  <p class="mall pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <p class="text-muted small">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="p-5 text-left d-flex flex-column justify-content-between" style="background: url(<%= process.env.IMAGE_PATH %>images/home/tu8.png) top no-repeat;">
                  <p class="mall pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <p class="text-muted small">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="p-5 text-left d-flex flex-column justify-content-between" style="background: url(<%= process.env.IMAGE_PATH %>images/home/tu9.png) top no-repeat;">
                  <p class="mall pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <p class="text-muted small">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5">
          <div class="container py-lg-4">
            <div class="row align-items-center">
              <div class="col-lg-9 py-3 text-center text-lg-left text-center">
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <div class="d-flex justify-content-center align-items-end mb-3" style="min-height: 200px;">
                      <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/home/touxiang1.svg" alt="">
                    </div>
                    <p class="h5">John Doe</p>
                    <p class="text-muted small">Leader</p>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="d-flex justify-content-center align-items-end mb-3" style="min-height: 200px;">
                      <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/home/touxiang2.svg" alt="">
                    </div>
                    <p class="h5">John Doe</p>
                    <p class="text-muted small">Leader</p>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="d-flex justify-content-center align-items-end mb-3" style="min-height: 200px;">
                      <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/home/touxiang3.svg" alt="">
                    </div>
                    <p class="h5">John Doe</p>
                    <p class="text-muted small">Leader</p>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="d-flex justify-content-center align-items-end mb-3" style="min-height: 200px;">
                      <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/home/touxiang4.svg" alt="">
                    </div>
                    <p class="h5">John Doe</p>
                    <p class="text-muted small">Leader</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 py-3 text-center text-lg-left">
                <h4 class="mb-4">We Are Mobitrix</h4>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#" class="btn btn-lg btn-primary px-4">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="news-and-tips">
        <div class="py-5 bg-gray">
          <div class="container py-lg-4">
            <h2 class="mb-4 text-center">Hot News and Tips</h2>
            <div class="row justify-content-center">
              <div class="col-lg-5 pr-lg-4 py-3">
                <div class="rounded box-shadow bg-white h-100">
                  <div class="py-3 px-4 border-bottom">
                    <h5 class="mb-0">Hot News</h5>
                  </div>
                  <div class="py-3 px-4">
                    <ul class="list list-unstyled link-inherit">
                      <li>
                        <a href="#">
                          <p class="h5">Product Update</p>
                          <p class="small text-muted">Mobitrix for WhatsApp is launched</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <p class="h5">Product Update</p>
                          <p class="small text-muted">Mobitrix for WhatsApp is launched</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <p class="h5">Product Update</p>
                          <p class="small text-muted">Mobitrix for WhatsApp is launched</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 pl-lg-4 py-3">
                <div class="rounded box-shadow bg-white h-100">
                  <div class="py-3 px-4 border-bottom">
                    <h5 class="mb-0">Hot Tips</h5>
                  </div>
                  <div class="py-3 px-4">
                    <ul class="list list-unstyled link-inherit">
                      <li>
                        <a href="#">
                          <p>Mobitrix for WhatsApp is launched</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <p>Mobitrix for WhatsApp is launched</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <p>Mobitrix for WhatsApp is launched</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <p>Mobitrix for WhatsApp is launched</p>
                        </a>
                      </li>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
