<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mobitrix</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <main>
      <section>
        <div class="text-white py-3" style="background: url(<%= process.env.IMAGE_PATH %>/tu1.png) center no-repeat;">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h1 class="mb-3">Powerful and Cost-effective Mobile Problem Solver</h1>
                <p class="mb-5">Mobitrix develops simple-yet-powerful software that manages your device data and brings convenience to your life.</p>
                <div>
                  <a href="#" class="btn btn-lg btn-danger text-uppercase mr-lg-3 mb-3 mb-lg-0"><svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>free download</span></a><a href="#" class="btn btn-lg btn-success text-uppercase px-5">buy now</a>
                </div>
              </div>
              <div class="col-lg-6">
                <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/tu2.png" alt="">
              </div>
            </div>
          </div>
          <div class="py-lg-5"></div>
        </div>
      </section>
      <section id="software">
        <div class="container">
          <div class="box py-5 rounded bg-white">
            <h2 class="mb-4 text-center">Amazing Software for You</h2>
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="d-flex justify-content-center align-items-center position-relative mx-auto" style="background: url(<%= process.env.IMAGE_PATH %>/tu3.png) center no-repeat;height: 320px;max-width: 430px;background-size: contain;">
                  <p class="h2 text-white mb-0">Mobitrix</p>
                  <div class="position-absolute" style="right:0;bottom:0;">
                    <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/tu3-1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <h3 class="mb-3">Mobitrix WhatsApp Transfer</h3>
                <p class="mb-5">One click to transfer WhatsApp messages between Android and iPhone devices without OS Restrictions.</p>
                <a href="/whatsapp-transfer-backup-restore/ " class="btn btn-lg btn-primary px-4">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= require('html-loader!../common/why-choice.ejs') %>
      <section>
        <div class="py-5 text-center bg-gray">
          <div class="container py-lg-4">
            <h2 class="mb-3">Where Have We Been Mentioned</h2>
            <p class="mb-5">Mobitrix is trusted by the world's leading media sites.</p>
            <div class="row">
              <div class="col-lg-4">
                <div class="p-5 h-100 text-left d-flex flex-column justify-content-between" style="background: url(<%= process.env.IMAGE_PATH %>/tu7.png) top no-repeat;background-size: 100%;">
                  <p class="mall pt-5">Mobitrix has earned the trust from millions of users all over the world. You can safely use Mobitrix software when you need to transfer WhatsApp messages or process your device data.</p>
                  <p class="text-muted small">Jan 15, 2020 www.techadvisor.com</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="p-5 h-100 text-left d-flex flex-column justify-content-between" style="background: url(<%= process.env.IMAGE_PATH %>/tu8.png) top no-repeat;background-size: 100%;">
                  <p class="mall pt-5">A practical and cost-effective application for any users who need to backup and restore WhatsApp chat history without uninstalling.</p>
                  <p class="text-muted small">Mar 18, 2020 www.softonic.com</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="p-5 h-100 text-left d-flex flex-column justify-content-between" style="background: url(<%= process.env.IMAGE_PATH %>/tu9.png) top no-repeat;background-size: 100%;">
                  <p class="mall pt-5">With exclusive technology and low price, Mobitrix WhatsApp Transfer aims to become the most cost-effective tool for WhatsApp transfer.</p>
                  <p class="text-muted small">Apr 21, 2020 www.softpedia.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5">
          <div class="container py-lg-4">
            <div class="row align-items-center">
              <div class="col-lg-9 py-3 text-center text-lg-left text-center">
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <div class="d-flex justify-content-center align-items-end mb-3" style="min-height: 200px;">
                      <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/touxiang1.svg" alt="">
                    </div>
                    <p class="h5">John Doe</p>
                    <p class="text-muted small">Leader</p>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="d-flex justify-content-center align-items-end mb-3" style="min-height: 200px;">
                      <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/touxiang2.svg" alt="">
                    </div>
                    <p class="h5">Jessica Doe</p>
                    <p class="text-muted small">Marketing Manager</p>
                  </div>
                  <!-- <div class="col-lg-3 col-6">
                    <div class="d-flex justify-content-center align-items-end mb-3" style="min-height: 200px;">
                      <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/touxiang3.svg" alt="">
                    </div>
                    <p class="h5">John Doe</p>
                    <p class="text-muted small">Leader</p>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="d-flex justify-content-center align-items-end mb-3" style="min-height: 200px;">
                      <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/touxiang4.svg" alt="">
                    </div>
                    <p class="h5">John Doe</p>
                    <p class="text-muted small">Leader</p>
                  </div> -->
                </div>
              </div>
              <div class="col-lg-3 py-3 text-center text-lg-left">
                <h2 class="mb-4">We Are Mobitrix</h2>
                <p class="mb-4">Mobitrix is a tool developer that aims to provide top-ranked software and become your preferred choice in this tech field.</p>
                <a href="/company/" class="btn btn-lg btn-primary px-4">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="news-and-tips">
        <div class="py-5 bg-gray">
          <div class="container py-lg-4">
            <h2 class="mb-4 text-center">Hot News and Tips</h2>
            <div class="row justify-content-center">
              <div class="col-lg-5 pr-lg-4 py-3">
                <div class="rounded box-shadow bg-white h-100">
                  <div class="py-3 px-4 border-bottom">
                    <h5 class="mb-0">Hot News</h5>
                  </div>
                  <div class="py-3 px-4">
                    <ul class="list list-unstyled link-inherit">
                      <li>
                        <p class="h5"><a href="#">Product Update</a></p>
                        <p class="small text-muted">Mobitrix for WhatsApp is launched</p>
                      </li>
                      <li>
                        <p class="h5"><a href="#">Product Update</a></p>
                        <p class="small text-muted">Mobitrix for WhatsApp is launched</p>
                      </li>
                      <li>
                        <p class="h5"><a href="#">Product Update</a></p>
                        <p class="small text-muted">Mobitrix for WhatsApp is launched</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 pl-lg-4 py-3">
                <div class="rounded box-shadow bg-white h-100">
                  <div class="py-3 px-4 border-bottom">
                    <h5 class="mb-0">Hot Tips</h5>
                  </div>
                  <div class="py-3 px-4">
                    <ul class="list list-unstyled link-inherit">
                      <li class="mb-3">
                        <a href="#">Mobitrix for WhatsApp is launched</a>
                      </li>
                      <li class="mb-3">
                        <a href="#">Mobitrix for WhatsApp is launched</a>
                      </li>
                      <li class="mb-3">
                        <a href="#">Mobitrix for WhatsApp is launched</a>
                      </li>
                      <li class="mb-3">
                        <a href="#">Mobitrix for WhatsApp is launched</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
