<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mobitrix</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <main>
      <div data-page="product"></div>
      <section>
        <div id="product-banner" class="py-4">
          <div class="container py-lg-4">
            <div class="py-lg-5 py-3 box">
              <div class="row align-items-center mb-5">
                <div class="col-lg-6">
                  <h1 class="mb-5 text-white">iPhone/Android WhatsApp Transfer, Fast and Simple</h1>
                  <div class="text-white p-lg-5 wrap">
                    <ul class="pl-3">
                      <li class="mb-2">1-Click to transfer your WhatsApp messages between iPhone and Android.</li>
                      <li class="mb-2">Backup all WhatsApp data from iPhone/Android to computer.</li>
                      <li class="mb-4">Fully compatible with almost all iPhones and Android devices, including iPhone 11 Pro Max and Samsung S10/S20.</li>
                    </ul>
                    <a href="https://download.mobitrix.com/mobitrix-whatsapp-transfer_setup.exe" class="btn btn-lg btn-danger text-uppercase mr-lg-3 mb-3 mb-lg-0"><svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>free download</a>
                    <a href="https://www.mobitrix.com/whatsapp-transfer-backup-restore/purchase/" class="btn btn-lg btn-light text-uppercase px-5">buy now</a>
                  </div>
                </div>
              </div>
              <div class="py-lg-5"><div class="py-lg-5"></div></div>
            </div>
            <div class="text-white p-4 mb-5 slick">
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p>It works for my case. I transferred my WhatsApp data from my Huawei to new iPhone 11 without any problem.</p>
                    <p>——By Joseph</p>
                  </div>
                  <div>
                    <img style="height: 50px;" src="<%= process.env.IMAGE_PATH %>/service.svg" alt="">
                  </div>
                </div>
              </div>
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p>It works for my case. I transferred my WhatsApp data from my Huawei to new iPhone 11 without any problem.</p>
                    <p>——By Joseph</p>
                  </div>
                  <div>
                    <img style="height: 50px;" src="<%= process.env.IMAGE_PATH %>/service.svg" alt="">
                  </div>
                </div>
              </div>
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p>It works for my case. I transferred my WhatsApp data from my Huawei to new iPhone 11 without any problem.</p>
                    <p>——By Joseph</p>
                  </div>
                  <div>
                    <img style="height: 50px;" src="<%= process.env.IMAGE_PATH %>/service.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-white rounded p-lg-5 p-3 text-center box-shadow mb-5">
              <h2 class="mb-5">All-round Solutions for All WhatsApp Transfer Issues</h2>
              <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/product-tu2.png" alt="">
            </div>
            <div class="row align-items-center mb-5">
              <div class="col-lg-6 py-3">
                <h4 class="mb-4">Instantly Transfer WhatsApp between iPhone and Android in 1 Click</h4>
                <p class="mb-5">Mobitrix WhatsApp Transfer is an innovative software product that allows you to easily transfer all of your WhatsApp between iPhone and Android devices. Your messages, images, videos and other files and attachments can be migrated in a simple, stress-free way.</p>
                <div class="mb-3">
                  <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/tu3.svg" alt="">
                </div>
                <p class="small"><strong>Note:</strong> Almost all Android and iOS devices are supported. Click here to learn more details.</p>
              </div>
              <div class="col-lg-6 py-3">
                <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/product-tu3.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 bg-gray">
          <div class="container">
            <div class="row align-items-center mb-lg-5">
              <div class="col-lg-8 py-3">
                <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/product-tu4.png" alt="">
              </div>
              <div class="col-lg-4 py-3 text-lg-right text-center">
                <h4 class="mb-5">The Most Flexible Way to Backup & Restore WhatsApp</h4>
                <h5> Backup WhatsApp to PC</h5>
                <p class="mb-5">It’s a 100% safe and free service that allows you to backup WhatsApp history on Android or iPhone, without overwriting any previous backups.</p>
                <h5>Restore WhatsApp Backups to iPhone/Android</h5>
                <p>Easily restore WhatsApp backups to Android or iPhone devices without having to uninstall the application.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 text-center">
          <div class="container py-lg-4">
            <h2 class="mb-3">Why Choose Mobitrix</h2>
            <p class="mb-5 text-muted mx-auto" style="max-width: 750px;">Using the most technologically advanced software, Mobitrix WhatsApp Transfer is able to quickly migrate WhatsApp chat history, pictures, videos and lots more between devices with the highest success rate guaranteed.</p>
            <div class="row justify-content-around">
              <div class="col-lg-3 py-3">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 80px">
                  <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/speed.svg" alt="">
                </div>
                <h5 class="mb-3">Industry-Leading Speed</h5>
                <p class="text-muted small">Our exclusive technology is designed to significantly accelerate transfer speed.</p>
              </div>
              <div class="col-lg-3 py-3">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 80px">
                  <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/success.svg" alt="">
                </div>
                <h5 class="mb-3">Success Rate</h5>
                <p class="text-muted small">While no software can guarantee a 100% success rate, Mobitrix guarantees the highest possible success rate of 99%.</p>
              </div>
              <div class="col-lg-3 py-3">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 80px">
                  <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/steps.svg" alt="">
                </div>
                <h5 class="mb-3">Steps to Transfer</h5>
                <p class="text-muted small">Our software only requires you to perform 3 simple steps to transfer WhatsApp backups from one to another.</p>
              </div>
              <div class="col-lg-3 py-3">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 80px">
                  <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/service.svg" alt="">
                </div>
                <h5 class="mb-3">Customer Service</h5>
                <p class="text-muted small">If you have any issues, the friendly Mobitrix support team is always on hand to provide assistance around the clock.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= require('html-loader!../common/guide-content.ejs') %>
      <section>
        <div class="py-5">
          <div class="container">
            <h2 class="mb-5 text-center">Tech Specs</h2>
            <div class="row link-inherit">
              <div class="col-lg-4 py-3">
                <div class="p-4 border-bottom border-primary h-100" style="background: url(<%= process.env.IMAGE_PATH %>/outline1.svg) left top no-repeat;background-size: 100%;">
                  <h5 class="mb-4">Supported iOS Devices</h5>
                  <ul class="list-unstyled small text-muted mb-0">
                    <li>iPhone:</li>
                    <li class="mb-3">iPhone 11, iPhone 11 Pro, iPhone 11 Pro Max, iPhone XS, iPhone XS Max, iPhone XR, iPhone X, iPhone 8 Plus, iPhone 8, iPhone 7 Red, iPhone 7 Plus, iPhone 7, iPhone SE, iPhone 6s Plus, iPhone 6s, iPhone 6 Plus, iPhone 6, and all models of iPhone.</li>
                    <li>iPad:</li>
                    <li>All models of iPad Air, iPad mini, iPad Pro and iPad.</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div class="p-4 border-bottom border-primary" style="background: url(<%= process.env.IMAGE_PATH %>/outline2.svg) no-repeat;background-size: 100%;">
                    <h5 class="mb-2">Supported Android Devices</h5>
                    <ul class="list-unstyled small text-muted">
                      <li>Samsung Galaxy S10, Huawei P30</li>
                      <li>OPPO, LG and other 5000+ Android devices.</li>
                    </ul>
                  </div>
                  <div class="p-4" style="background: url(<%= process.env.IMAGE_PATH %>/outline3.svg) no-repeat;background-size: 100%;">
                    <h5 class="mb-3">Supported OS</h5>
                    <ul class="list-unstyled small text-muted">
                      <li>iOS: iPadOS, iOS 13/12.3/12, iOS 11, iOS 10.3, iOS 10, iOS 9 and former.</li>
                      <li>Android: Android 2.0 to 9.</li>
                      <li>Windows: Win 10/8.1/8/7/Vista/XP.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="p-4 border-bottom border-primary h-100" style="background: url(<%= process.env.IMAGE_PATH %>/outline4.svg) no-repeat;background-size: 100%;">
                  <h5 class="mb-4">Other</h5>
                  <ul class="list-unstyled small text-muted">
                    <li><a href="#">CPU: 1GHz (32 bit or 64 bit).</a></li>
                    <li><a href="#">RAM: 256 MB or more of RAM (1024MB Recommended).</a></li>
                    <li><a href="#">Hard Disk Space: 200 MB and above free space.</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 text-center text-white" style="background:url(<%= process.env.IMAGE_PATH %>/bg3.png) center no-repeat;background-size: cover;">
          <div class="container">
            <h2 class="mb-5">Get Mobitrix WhatsApp Transfer Now</h2>
            <div>
              <a href="https://download.mobitrix.com/mobitrix-whatsapp-transfer_setup.exe" class="btn btn-lg btn-danger text-uppercase mr-lg-3 mb-3 mb-lg-0"><svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>free download</a>
              <a href="https://www.mobitrix.com/whatsapp-transfer-backup-restore/purchase/" class="btn btn-lg btn-success text-uppercase px-5">buy now</a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5" id="product-faq">
          <div class="container">
            <h2 class="text-center mb-5">FAQ</h2>
            <div class="row no-gutters">
              <div class="col-lg-7 py-3">
                <div class="p-4 border-bottom border-primary box">
                  <ul class="list-unstyled list link-inherit">
                    <li>
                      <h5>1. Is free trial version available before registration?</h5>
                      <p class="small text-muted">Yes. We offer the free trial version for all the products for users to evaluate whether it is useful for them before purchase.</p>
                    </li>
                    <li>
                      <h5>2. How long will it take to transfer WhatsApp messages?</h5>
                      <p class="small text-muted">The transferring time depends on the data size of the WhatsApp data to be transferred. Generally, it can be several minutes or an hour.</p>
                    </li>
                    <li>
                      <h5>3. What’s the Differences between the trial and full version?</h5>
                      <p class="small text-muted">You can use the free trial version to back up WhatsApp messages. To transfer or restore WhatsApp, you will need to upgrade from trial version to full version.</p>
                    </li>
                    <li>
                      <h5>4.Will my device data be affected after using your software?</h5>
                      <p class="small text-muted">No. All the data on your iPhone or Android phone will not be affected.</p>
                    </li>
                    <li>
                      <h5>5. Is it safe to purchase product on your website?</h5>
                      <p class="small text-muted">Yes. It is 100% secure to purchase from our website. We guarantee that your privacy will not be disclosed when you browse our website or download and use our product.</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-5 py-3">
                <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/product-tu5.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
