<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mobitrix</title>
  </head>
  <body data-page="product">
    <%= require('html-loader!../common/header.ejs') %>
    <main>
      <section>
        <div id="product-banner" class="py-4">
          <div class="container py-lg-4">
            <div class="py-lg-5 py-3 box">
              <div class="row align-items-center mb-5">
                <div class="col-lg-6">
                  <h1 class="mb-5 text-white">Data Management Export</h1>
                  <div class="text-white p-lg-5 wrap">
                    <h5>Copyright (c) 2018 Copyright Holder All Rights Reserved.</h5>
                    <p class="mb-5">Copyright (c) 2018 Copyright Holder All Rights Reserved. Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                    <a href="#" class="btn btn-lg btn-danger text-uppercase mr-lg-3 mb-3 mb-lg-0">
                      <svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>
                      free download
                    </a>
                    <a href="#" class="btn btn-lg btn-light text-uppercase px-5">buy now</a>
                  </div>
                </div>
              </div>
              <div class="py-lg-5"><div class="py-lg-5"></div></div>
            </div>
            <div class="text-white p-4 mb-5 slick">
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p>Copyright (c) 2018 Copyright Holder All Rights Reserved.Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                    <p>——By Emma</p>
                  </div>
                  <div>
                    <img style="height: 50px;" src="<%= process.env.IMAGE_PATH %>images/product/service.svg" alt="">
                  </div>
                </div>
              </div>
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p>Copyright (c) 2018 Copyright Holder All Rights Reserved.Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                    <p>——By Emma</p>
                  </div>
                  <div>
                    <img style="height: 50px;" src="<%= process.env.IMAGE_PATH %>images/product/service.svg" alt="">
                  </div>
                </div>
              </div>
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p>Copyright (c) 2018 Copyright Holder All Rights Reserved.Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                    <p>——By Emma</p>
                  </div>
                  <div>
                    <img style="height: 50px;" src="<%= process.env.IMAGE_PATH %>images/product/service.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-white rounded p-lg-5 p-3 text-center box-shadow mb-5">
              <h3 class="mb-5">Data Management Export Data Management Export</h3>
              <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/product/tu2.png" alt="">
            </div>
            <div class="row align-items-center mb-5">
              <div class="col-lg-6 py-3">
                <h4 class="mb-4">Copyright (c) 2018 Copyright Holder All Rights Reserved.</h4>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div>
                  <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/product/tu3.svg" alt="">
                </div>
              </div>
              <div class="col-lg-6 py-3">
                <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/product/tu3.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 bg-gray">
          <div class="container">
            <div class="row align-items-center mb-lg-5">
              <div class="col-lg-8 py-3">
                <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/product/tu4.png" alt="">
              </div>
              <div class="col-lg-4 py-3 text-lg-right text-center">
                <h4 class="mb-5">Copyright (c) 2018 Copyright Holder All Rights Reserved.</h4>
                <h5>Copyright (c) 2018 Copyright</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 text-center">
          <div class="container py-lg-4">
            <h2 class="mb-3">Why Is Mobitrix Your Choice</h2>
            <p class="mb-5 text-muted mx-auto" style="max-width: 750px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
            <div class="row justify-content-around">
              <div class="col-lg-3 py-3">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 80px">
                  <img class="img-fluid h-100" src="/images/product/speed.svg" alt="">
                </div>
                <h5 class="mb-3">Better Service at a Lower Price</h5>
                <p class="text-muted small">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
              </div>
              <div class="col-lg-3 py-3">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 80px">
                  <img class="img-fluid h-100" src="/images/product/success.svg" alt="">
                </div>
                <h5 class="mb-3">Better Service at a Lower Price</h5>
                <p class="text-muted small">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
              </div>
              <div class="col-lg-3 py-3">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 80px">
                  <img class="img-fluid h-100" src="/images/product/steps.svg" alt="">
                </div>
                <h5 class="mb-3">Better Service at a Lower Price</h5>
                <p class="text-muted small">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
              </div>
              <div class="col-lg-3 py-3">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 80px">
                  <img class="img-fluid h-100" src="/images/product/service.svg" alt="">
                </div>
                <h5 class="mb-3">Better Service at a Lower Price</h5>
                <p class="text-muted small">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= require('html-loader!../common/guide-content.ejs') %>
      <section>
        <div class="py-5">
          <div class="container">
            <h2 class="mb-5 text-center">Tech Specs</h2>
            <div class="row link-inherit">
              <div class="col-lg-4 py-3">
                <div class="p-4 border-bottom border-primary h-100" style="background: url(<%= process.env.IMAGE_PATH %>images/product/outline1.svg) left top no-repeat;background-size: 100%;">
                  <h5 class="mb-4">Supported IOS Devices</h5>
                  <ul class="list-unstyled small text-muted">
                    <li>iPhone:</li>
                    <li><a href="#">iPhone iPhone</a></li>
                    <li><a href="#">iPhone iPhone iPhone</a></li>
                    <li><a href="#">iPhone iPhone iPhone</a></li>
                    <li class="mb-4"><a href="#">iPhone iPhone iPhone</a></li>
                    <li>iPhone:</li>
                    <li><a href="#">iPhone iPhone</a></li>
                    <li><a href="#">iPhone iPhone iPhone</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="p-4 border-bottom border-primary" style="background: url(<%= process.env.IMAGE_PATH %>images/product/outline2.svg) no-repeat;background-size: 100%;">
                  <h5 class="mb-2">Supported IOS Devices</h5>
                  <ul class="list-unstyled small text-muted">
                    <li><a href="#">iPhone</a></li>
                    <li><a href="#">iPhone iPhone</a></li>
                  </ul>
                </div>
                <div class="p-4 border-bottom border-primary" style="background: url(<%= process.env.IMAGE_PATH %>images/product/outline3.svg) no-repeat;background-size: 100%;">
                  <h5 class="mb-4">Supported IOS Devices</h5>
                  <ul class="list-unstyled small text-muted">
                    <li><a href="#">iPhone</a></li>
                    <li><a href="#">iPhone iPhone</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="p-4 border-bottom border-primary h-100" style="background: url(<%= process.env.IMAGE_PATH %>images/product/outline4.svg) no-repeat;background-size: 100%;">
                  <h5 class="mb-4">Supported IOS Devices</h5>
                  <ul class="list-unstyled small text-muted">
                    <li>iPhone:</li>
                    <li><a href="#">iPhone iPhone</a></li>
                    <li><a href="#">iPhone iPhone iPhone</a></li>
                    <li><a href="#">iPhone iPhone iPhone</a></li>
                    <li class="mb-4"><a href="#">iPhone iPhone iPhone</a></li>
                    <li>iPhone:</li>
                    <li><a href="#">iPhone iPhone</a></li>
                    <li><a href="#">iPhone iPhone iPhone</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 text-center text-white" style="background:url(<%= process.env.IMAGE_PATH %>images/purchase/bg3.png) center no-repeat;background-size: cover;">
          <div class="container">
            <h2 class="mb-5">Data Management Export</h2>
            <div>
              <a href="#" class="btn btn-lg btn-danger text-uppercase mr-lg-3 mb-3 mb-lg-0">
                <svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>
                free download
              </a>
              <a href="#" class="btn btn-lg btn-success text-uppercase px-5">buy now</a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5" id="product-faq">
          <div class="container">
            <h2 class="text-center mb-5">FAQ</h2>
            <div class="row no-gutters">
              <div class="col-lg-7 py-3">
                <div class="p-4 border-bottom border-primary" style="background:url(<%= process.env.IMAGE_PATH %>images/product/outline1.svg) top no-repeat;background-size: 100%;">
                  <ul class="list-unstyled list link-inherit">
                    <li>
                      <a href="#">
                        <h5>Supported IOS Devices Supported IOS Devices</h5>
                        <p class="small text-muted">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <h5>Supported IOS Devices Supported IOS Devices</h5>
                        <p class="small text-muted">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <h5>Supported IOS Devices Supported IOS Devices</h5>
                        <p class="small text-muted">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <h5>Supported IOS Devices Supported IOS Devices</h5>
                        <p class="small text-muted">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-5 py-3">
                <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/product/tu5.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
