<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mobitrix</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <main>
      <div data-page="purchase"></div>
      <section>
        <div id="purchase-banner" class="py-4 bg-gray" style="background-image:url(<%= process.env.IMAGE_PATH %>/banner-bg.svg);background-position:center;background-size: cover;">
          <div class="container">
            <div class="row align-items-center no-gutters">
              <div class="col-lg-8">
                <p class="text-muted mb-1 h6">You are purchasing</p>
                <h1 class="h2 mb-4">Mobitrix WhatsApp Transfer (Windows Version)</h1>
                <ul class="list list-unstyled text-muted">
                  <li>Keycode instantly sent after purchase</li>
                  <li>24h*7 customer support</li>
                  <li>Free lifetime update</li>
                </ul>
                <p><a href="#">Go to Mac Version</a></p>
              </div>
              <div class="col-lg-4">
                <div class="d-flex align-items-center">
                  <div class="mx-2 box-shadow rounded overflow-hidden"><img class="img-fluid" style="height:61px;" src="<%= process.env.IMAGE_PATH %>/secure-1.svg" alt=""></div>
                  <div class="mx-2 box-shadow rounded overflow-hidden"><img class="img-fluid" style="height:61px;" src="<%= process.env.IMAGE_PATH %>/secure-2.png" alt=""></div>
                  <div class="mx-2 box-shadow rounded overflow-hidden"><img class="img-fluid" style="height:61px;" src="<%= process.env.IMAGE_PATH %>/secure-3.png" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div id="purchase-cart" class="py-5 text-center">
          <div class="container">
            <h4 class="text-primary mb-4">
              Your memories are worth more than $20
              <i class="text-primary" style="vertical-align: 3px;" aria-label="Recently, iOS and Android have launched their new systems in the past few months. In order to improve the performance and the compatibility with new iOS & Android systems, we value our customer and decide to lower the 1-Month License at $0 for a 30 days window when you write us a review. We are more than happy to hear back from you because your feedback is important for the performance enhancements of our software. Thanks for your supports and we really appreciate your time for doing this. This limited-time offer ends by 11/30/2020. " data-balloon-pos="up">
                <svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
              </i>
            </h4>
            <div class="d-flex justify-content-center align-items-center mb-5 countdown">
              <div class="mr-lg-4 d-none d-lg-block">
                <i class="mb-2 d-block"><img src="<%= process.env.IMAGE_PATH %>/clock.svg"/></i>
                <div class="small text-muted font-weight-bold">Limited Time Promotion</div>
              </div>
              <div class="box">
                <p id="days" class="rounded num font-weight-bold mb-1">12</p>
                <p class="mb-0 small text-muted font-weight-bold">DAYS</p>
              </div>
              <div class="box">
                <p id="hours" class="rounded num font-weight-bold mb-1">34</p>
                <p class="mb-0 small text-muted font-weight-bold">HOURS</p>
              </div>
              <div class="box">
                <p id="minutes" class="rounded num font-weight-bold mb-1">56</p>
                <p class="mb-0 small text-muted font-weight-bold">MINUTES</p>
              </div>
              <div class="box">
                <p id="seconds" class="rounded num font-weight-bold mb-1">56</p>
                <p class="mb-0 small text-muted font-weight-bold">SECONDS</p>
              </div>
            </div>
            <div class="row align-items-end">
              <div class="col-lg-4 py-3">
                <div class="rounded box-shadow">
                  <div class="pt-5 pb-3 rounded-top bg-primary position-relative">
                    <img class="position-absolute" style="top:-33px;left:50%;margin-left: -136px;width: 272px;" src="<%= process.env.IMAGE_PATH %>/icon4.svg" alt="">
                    <h4 class="text-white">Lifetime License</h4>
                    <p class="small text-white mb-1">1-5 Devices, 1PC</p>
                  </div>
                  <hr class="m-0">
                  <div class="p-4">
                    <h1 class="text-primary">$26.95 <small class="h4"><del class="small text-muted">$109.95</del></small></h1>
                    <p class="h5 text-muted mb-4">You'll save $83</p>
                    <a href="https://order.shareit.com/cart/add?vendorid=200287565&PRODUCT[300987121]=1&_ga=2.34212769.1801270409.1594444374-1235129099.1593352635" class="btn btn-purchase"><span class="font-weight-bold px-4"><svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>BUY NOW</span></a>
                    <!-- <div id="paypal-button-1" class="paypal-button" paypal-price="26.95" paypal-currency="USD" data-pid="300987121"></div> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="rounded box-shadow">
                  <div class="pt-4 pb-3">
                    <h4>1-Year License</h4>
                    <p class="small">
                      Auto-renewal. Cancel at any time.
                      <i class="text-primary" aria-label="The license will be automatically renewed in a year. You can cancel it at any time. Before the renewal date, you will receive a notification email." data-balloon-pos="up">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                        </svg>
                      </i>
                    </p>
                    <p class="small text-muted mb-1">1-5 Devices, 1PC</p>
                  </div>
                  <hr class="m-0">
                  <div class="p-4">
                    <h3 class="mb-4">$19.95</h3>
                    <a href="https://order.shareit.com/cart/add?vendorid=200287565&PRODUCT[300986057]=1&_ga=2.75173394.1801270409.1594444374-1235129099.1593352635" class="btn btn-purchase"><span class="font-weight-bold px-4"><svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>BUY NOW</span></a>
                    <a href="javascript:;" data-pid="300986057" class="paypal-button mt-3 d-inline-block"><img style="max-width: 200px;" src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/44_Yellow_CheckOut_Pill_Button.png" alt="Check out with PayPal" /></a>
                    <!-- <div id="paypal-button-2" class="paypal-button" paypal-price="19.95" paypal-currency="USD" data-pid="300986057"></div> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="rounded box-shadow">
                  <div class="pt-4 pb-3">
                    <h4>Family License</h4>
                    <p class="small text-muted mb-1">1-20 Devices, 1PC</p>
                  </div>
                  <hr class="m-0">
                  <div class="p-4">
                    <h3 class="mb-4">$39.95</h3>
                    <a href="https://order.shareit.com/cart/add?vendorid=200287565&PRODUCT[300987122]=1&_ga=2.41676578.1801270409.1594444374-1235129099.1593352635" class="btn btn-purchase"><span class="font-weight-bold px-4"><svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>BUY NOW</span></a>
                    <!-- <div id="paypal-button-3" class="paypal-button" paypal-price="39.95" paypal-currency="USD" data-pid="300987122"></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-4 bg-gray">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-4 py-3">
                <h4 class="mb-4 font-weight-bold">Used and Recommended by nearly 150 million users worldwide</h4>
                <img style="height: 26px;" src="<%= process.env.IMAGE_PATH %>/icon5.svg" alt="">
              </div>
              <div class="col-lg-6 py-3 border-left pl-lg-4">
                <p>It works for my case. I transferred my WhatsApp data from my Huawei to new iPhone 11 without any problem.</p>
                <p>- By Joseph 2020.04</p>
              </div>
              <div class="col-lg-2 py-3 text-center">
                <img style="height:90px;" src="<%= process.env.IMAGE_PATH %>/user-7.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 text-center">
          <div class="container">
            <div class="row justify-content-around mb-5">
              <div class="col-lg-3 col-md-6 py-3">
                <div class="border-right h-100">
                  <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                    <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/icon6.svg" alt="">
                  </div>
                  <h5 class="mb-3">Secure</h5>
                  <ul class="text-muted text-lg-left small mb-0">
                    <li class="mb-1">100% secure purchase & download</li>
                    <li class="mb-1">Protection of privacy</li>
                    <li>No malware or virus</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <div class="border-right h-100">
                  <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                    <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/icon7.svg" alt="">
                  </div>
                  <h5 class="mb-3">Guarantee</h5>
                  <ul class="text-muted text-lg-left small mb-0">
                    <li class="mb-1">30-day money back guarantee</li>
                    <li>Preview for free with trial version</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <div class="border-right h-100">
                  <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                    <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/icon8.svg" alt="">
                  </div>
                  <h5 class="mb-3">Support</h5>
                  <ul class="text-muted text-lg-left small mb-0">
                    <li class="mb-1">One-to-one support</li>
                    <li class="mb-1">Professional telephony stand by</li>
                    <li>Quick response within 24 hours</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <div class="h-100">
                  <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                    <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/icon9.svg" alt="">
                  </div>
                  <h5 class="mb-3">1,000,000+</h5>
                  <ul class="text-muted text-lg-left small mb-0">
                    <li class="mb-1">Numerous users satisfied</li>
                    <li>Users spread all over the world</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="d-flex mb-5 align-items-center justify-content-center">
              <p class="h6 mr-4 mb-0">We accept:</p>
              <div>
                <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/purchase-tu4.png" alt="">
              </div>
            </div>
            <h2 class="mb-5">Worry Free Guarantee</h2>
            <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/purchase-tu5.png" alt="">
            <div class="text-left pt-5 mx-auto" style="max-width: 960px;">
              <h6 class="mb-4">Important information to note:</h6>
              <ol class="text-muted small pl-3">
                <li class="mb-3">It is 100% safe to order online. Any exchange of data during the payment process is protected by our website’s secure SSL certificate.</li>
                <li class="mb-3">After your order is validated, all of your order information, including registration code and licensed email, will be automatically sent to your email address.</li>
                <li class="mb-3">You can contact us at any time if you don’t receive the order email as expected.</li>
                <li>For those of you that you don’t check your email inbox regularly, you can add support#mobitrix.com (by replacing # with @) and add us to your white list.</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
