<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mobitrix</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <main>
      <div data-page="purchase"></div>
      <section>
        <div id="purchase-banner" class="py-4 bg-gray" style="background-image:url(<%= process.env.IMAGE_PATH %>/icon1.svg);background-size: 110px;background-position: left bottom;background-repeat:no-repeat;">
          <div class="container">
            <div class="row align-items-center no-gutters">
              <div class="col-lg-8">
                <p>You are purchasing</p>
                <h1 class="h2 mb-4">Mobitrix WhatsApp Transfer (Windows Version)</h1>
                <ul class="list list-unstyled text-muted">
                  <li class="mb-3">Keycode instantly sent after purchase</li>
                  <li class="mb-3">24h*7 customer support</li>
                  <li>Free lifetime update</li>
                </ul>
              </div>
              <div class="col-lg-4">
                <div class="d-flex align-items-center">
                  <div class="mx-2 box-shadow rounded overflow-hidden"><img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/purchase-tu1.png" alt=""></div>
                  <div class="mx-2 box-shadow rounded overflow-hidden"><img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/purchase-tu2.png" alt=""></div>
                  <div class="mx-2 box-shadow rounded overflow-hidden"><img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/purchase-tu3.png" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div id="purchase-cart" class="py-5 text-center">
          <div class="container">
            <div class="d-flex justify-content-center align-items-center mb-5 countdown">
              <div class="mx-2 box">
                <p id="days" class="bg-primary rounded px-2 text-white num font-weight-bold mb-1">12</p>
                <p class="mx-3 small font-weight-bold">DAYS</p>
              </div>
              <div class="mx-2 box">
                <p id="hours" class="bg-primary rounded px-2 text-white num font-weight-bold mb-1">34</p>
                <p class="mx-3 small font-weight-bold">HOURS</p>
              </div>
              <div class="mx-2 box">
                <p id="minutes" class="bg-primary rounded px-2 text-white num font-weight-bold mb-1">56</p>
                <p class="mx-3 small font-weight-bold">MINUTES</p>
              </div>
              <div class="mx-2 box">
                <p id="seconds" class="bg-primary rounded px-2 text-white num font-weight-bold mb-1">56</p>
                <p class="mx-3 small font-weight-bold">SECONDS</p>
              </div>
            </div>
            <div class="row align-items-end">
              <div class="col-lg-4 py-3">
                <div class="rounded box-shadow">
                  <div class="pt-5 pb-3 rounded-top bg-primary position-relative">
                    <img class="position-absolute" style="top:-33px;left:50%;margin-left: -136px;width: 272px;" src="<%= process.env.IMAGE_PATH %>/icon4.svg" alt="">
                    <h4 class="text-white">Lifetime License</h4>
                    <p class="small text-white mb-1">2 Devices</p>
                    <p class="small text-white mb-0">1 Windows Computer</p>
                  </div>
                  <hr class="m-0">
                  <div class="p-4">
                    <h1 class="text-danger">$29.95 <small><del class="small">$99.95</del></small></h1>
                    <p class="h4 text-muted">You'll save $83</p>
                    <a href="#" class="btn btn-danger"><span class="font-weight-bold px-4">BUY NOW</span></a>
                    <p class="h6 font-weight-light my-2">OR</p>
                    <a href="#"><img style="width:152px;" src="<%= process.env.IMAGE_PATH %>/paypal.svg" alt=""></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="rounded box-shadow">
                  <div class="pt-4 pb-3">
                    <h4>Personal License</h4>
                    <p class="small text-muted mb-1">2 Devices</p>
                    <p class="small text-muted mb-0">1 Windows Computer</p>
                  </div>
                  <hr class="m-0">
                  <div class="p-4">
                    <h3 class="text-muted">$29.95</h3>
                    <a href="#" class="btn btn-danger"><span class="font-weight-bold px-4">BUY NOW</span></a>
                    <p class="h6 font-weight-light my-2">OR</p>
                    <a href="#"><img style="width:152px;" src="<%= process.env.IMAGE_PATH %>/paypal.svg" alt=""></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="rounded box-shadow">
                  <div class="pt-4 pb-3">
                    <h4>Family License</h4>
                    <p class="small text-muted mb-1">2 Devices</p>
                    <p class="small text-muted mb-0">1 Windows Computer</p>
                  </div>
                  <hr class="m-0">
                  <div class="p-4">
                    <h3 class="text-muted">$29.95</h3>
                    <a href="#" class="btn btn-danger"><span class="font-weight-bold px-4">BUY NOW</span></a>
                    <p class="h6 font-weight-light my-2">OR</p>
                    <a href="#"><img style="width:152px;" src="<%= process.env.IMAGE_PATH %>/paypal.svg" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-4 text-white" style="background:url(<%= process.env.IMAGE_PATH %>/bg3.png) center no-repeat;background-size: cover;">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-4 py-3">
                <h4 class="mb-4 font-weight-bold">Used and Recommended by nearly 150 million users worldwide</h4>
                <img style="width: 218px;" src="<%= process.env.IMAGE_PATH %>/icon5.svg" alt="">
              </div>
              <div class="col-lg-6 py-3 border-left pl-lg-4">
                <p>It works for my case. I transferred my WhatsApp data from my Huawei to new iPhone 11 without any problem.</p>
                <p class="text-right">- By Joseph 2020.04</p>
              </div>
              <div class="col-lg-2 py-3 text-center">
                <img src="<%= process.env.IMAGE_PATH %>/photo.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="py-5 text-center">
          <div class="container">
            <div class="row justify-content-around mb-5">
              <div class="col-lg-3 col-md-6 py-3">
                <div class="border p-4 h-100">
                  <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                    <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/icon6.svg" alt="">
                  </div>
                  <h5 class="mb-3">Secure</h5>
                  <ul class="text-muted text-left small">
                    <li class="mb-1">100% secure purchase & download</li>
                    <li class="mb-1">Protection of privacy</li>
                    <li>No malware or virus</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <div class="border p-4 h-100">
                  <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                    <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/icon7.svg" alt="">
                  </div>
                  <h5 class="mb-3">Guarantee</h5>
                  <ul class="text-muted text-left small">
                    <li class="mb-1">30-day money back guarantee</li>
                    <li>Preview for free with trial version</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <div class="border p-4 h-100">
                  <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                    <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/icon8.svg" alt="">
                  </div>
                  <h5 class="mb-3">Support</h5>
                  <ul class="text-muted text-left small">
                    <li class="mb-1">One-to-one support</li>
                    <li class="mb-1">Professional telephony stand by</li>
                    <li>Quick response within 24 hours</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <div class="border p-4 h-100">
                  <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                    <img class="img-fluid h-100" src="<%= process.env.IMAGE_PATH %>/icon9.svg" alt="">
                  </div>
                  <h5 class="mb-3">1,000,000+</h5>
                  <ul class="text-muted text-left small">
                    <li class="mb-1">Numerous users satisfied</li>
                    <li>Users spread all over the world</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="d-flex mb-5 align-items-center justify-content-center">
              <p class="h6 mr-4 mb-0">We accept:</p>
              <div>
                <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/purchase-tu4.png" alt="">
              </div>
            </div>
            <h2 class="mb-5">Our Worry-Free Guarantee</h2>
            <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>/purchase-tu5.png" alt="">
            <div class="text-left pt-5 mx-auto" style="max-width: 960px;">
              <h6 class="mb-4">Important information to note:</h6>
              <ol class="text-muted small pl-3">
                <li class="mb-3">It is 100% safe to order online. Any exchange of data during the payment process is protected by our website’s secure SSL certificate.</li>
                <li class="mb-3">After your order is validated, all of your order information, including registration code and licensed email, will be automatically sent to your email address.</li>
                <li class="mb-3">You can contact us at any time if you don’t receive the order email as expected.</li>
                <li>For those of you that you don’t check your email inbox regularly, you can add support#mobitrix.com (by replacing # with @) and add us to your white list.</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
